.double-btn-selector button{
    &:first-child{
        border-radius: 0.25rem 0 0 0.25rem;
    }
    &:nth-child(2n){
        border-radius: 0 0.25rem 0.25rem 0;
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

.btn-delete{
    position: absolute;
    top: 1rem;
    right: 1rem;
}