{% extends 'base.html.twig' %}

{% block body %}

	<div class="container-fluid">
		<div class="row">
			<div 
				class="col-md-6 mx-auto p-4 bg-light rounded 
				{{ isMobile ? "" : "mt-5 mb-5" }}">
				<h2>Modifier publication</h2>
				{% include "components/_postForm.html.twig" %}
			</div>	
		</div>	
	</div>


{% endblock %}