{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid bg-light {{ isMobile ? "" : "adapt-height" }}">
        {% if isMobile %}
            {% include "components/app_post_view/mobile.html.twig" %}
        {% else %}
            {% include "components/app_post_view/desktop.html.twig" %}
        {% endif %}
    </div>
    {{ encore_entry_script_tags('app_post_view') }}
{% endblock %}