{# desktop #}
<footer class="container-fluid bg-dark mb-0 p-3">
    <div class="row d-flex justify-content-center">
        <div class="col-3 d-flex justify-content-center">
            <p class="text-muted">Aaaa</p>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <p class="text-muted">&copy; {{ "now" | date("Y") }} C.A.F.E - Tous droits réservés</p>
            {# <p class="text-muted">Fait avec &hearts;</p> #}
        </div>
        <div class="col-3 d-flex justify-content-center">
            <p class="text-muted">Aaaa</p>
        </div>
    </div>
</footer>

{# mobile #}
<footer class="mobile d-block d-sm-none">
</footer>
