<header class="d-flex justify-content-between bg-dark px-5 py-4">
    <a href="#">Logo</a>
    <nav>
        <a href="">Accueil</a>
        <a href="{{ path("app_post") }}">Espace membre</a>
        <a href="{{ path("app_post_create") }}">Nouvelle publication</a>
        <a href="">Mon profil</a>
    </nav>
</header>